<nav class="navbar">
    <div class="navbar-left">
      <a href="main-page.component.html" class="logo"><img src="/images/logo.png" alt="Logo"></a>
    </div>
    <div class="navbar-center">
      <ul>
        <li><a [routerLink]="['']" class="active-link"><img src="/images/home.png"> <span>Home</span></a></li>
        <li><a [routerLink]="['/team-list']"><img src="/images/network.png"> <span>Teams</span></a></li>
        <li><a [routerLink]="['/project-list']"><img src="/images/jobs.png"> <span>Projects</span></a></li>
        <li><a [routerLink]="['/comment-list']"><img src="/images/message.png"> <span>Comments</span></a></li>
        <li><a [routerLink]="['/login']"><img src="/images/notification.png"> <span>Log in</span></a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <div class="user-structure">
        <img src="/images/logo.png" class="nav-profile-img" [routerLink]="['/user-view']" alt="Profile">
      </div>
    </div>
</nav>

<div class="container">
    <div class="main">
        <h1>All Projects</h1>
        <div class="team-list" id="teams">
            <div class="team" *ngFor="let project of projectData" [routerLink]="[`/project-view/${project.id}`]">
                <h2>{{project.name}}</h2>
                <ul>
                  <li>{{project.deadline}}</li>
                </ul>
            </div>
        </div>
    </div>
  </div>