<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="main">
        <h1>All Projects</h1>
        <div class="profile-actions">
          <a [routerLink]="['/project-add']" class="btn">Add Project</a>
        </div>
        <div class="team-list" id="teams">
            <div class="team" *ngFor="let project of projectData" [routerLink]="[`/project-view/${project.id}`]">
                <h2>{{project.name}}</h2>
                <ul>
                  <li>{{project.deadline | date:'YYYY-MM-dd'}}</li>
                </ul>
            </div>
        </div>
    </div>
  </div>