<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="main">
    <h1>{{taskData?.overview}}</h1>
    <p class="task-description">{{taskData?.description}}</p>
    <div class="comments">
      <h2>Comments</h2>
      <ul>
        <li *ngFor="let comment of commentsData">
          <h3>{{comment.user.name}}:</h3>
          <p>{{comment.comment}}</p>
        </li>
      </ul>
      <input [(ngModel)]="newComment" [ngModelOptions]="{standalone: true}" type="text" id="task-name" class="task-input" placeholder="Enter your comment">
      <div class="profile-actions">
        <button (click)="postComment()" class="btn">Post Comment</button>
      </div>
    </div>
  </div>
  <div class="task-footer">
    <div class="task-user">
      <p>{{taskData?.user.name}}</p>
    </div>
    <div class="profile-actions">
      <button (click)="markAsDone()" class="btn">Finish</button>
      <button [routerLink]="[`/task-edit/${taskData?.id}`]" class="btn">Edit</button>
      <button (click)="confirmDel()" class="btn">Delete</button>
    </div>
  </div>
</div>
