<input type="number" placeholder="id" [(ngModel)]="userId" [ngModelOptions]="{standalone: true}">
<input type="text" placeholder="name" [(ngModel)]="newName" [ngModelOptions]="{standalone: true}">
<input type="text" placeholder="username" [(ngModel)]="newUsername" [ngModelOptions]="{standalone: true}">
<input type="text" placeholder="password" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
<input type="text" placeholder="email" [(ngModel)]="newEmail" [ngModelOptions]="{standalone: true}">
<input type="text" placeholder="rank" [(ngModel)]="newRank" [ngModelOptions]="{standalone: true}">
<button (click)="update()">update</button>
<!-- tu będzie można edytowwać swój profil-->
