<section>
  <img src="/images/logo.png" alt="">
  <h2>Make the most of your professional life</h2>
  <form>
      <div class="form_group">
          <label for="username">username</label>
          <input type="text" id="username" autocomplete="off" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form_group">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
      <button class="join-btn" (click)="tryLogIn()">Log in</button>
      <div class="separator">
          <div class="line"></div>
          <h4>or</h4>
          <div class="line"></div>
      </div>
      <button class="google-btn" [routerLink]="['/sign-up']">Sign up</button>
      <p class="signin-para"><a [routerLink]="['']">main page</a></p>
  </form>
  <p class="get-help">Looking to create a page for a business? <a href="#">Get help</a></p>
</section>