<nav class="navbar">
  <div class="navbar-left">
    <a href="main-page.component.html" class="logo"><img src="/images/logo.png" alt="Logo"></a>
  </div>
  <div class="navbar-center">
    <ul>
      <li><a [routerLink]="['']" class="active-link"><img src="/images/home.png"> <span>Home</span></a></li>
      <li><a [routerLink]="['/team-list']"><img src="/images/network.png"> <span>Teams</span></a></li>
      <li><a (click)="verifyPP()"><img src="/images/jobs.png"> <span>Create a Project</span></a></li>
      <li><a [routerLink]="['/comment-list']"><img src="/images/message.png"> <span>Your comments</span></a></li>
      <li><a [routerLink]="['/login']"><img src="/images/notification.png"> <span>Log in</span></a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <div class="user-structure">
      <img src="/images/logo.png" class="nav-profile-img" [routerLink]="['user-view']" alt="Profile">
    </div>
  </div>
</nav>

<div class="container">
  <div class="main">
    <div class="form-container">
      <h1>Add profile</h1>
      <form>
        <div class="form-group">
          <label for="user-name">Name</label>
          <input [(ngModel)]="addName" [ngModelOptions]="{standalone: true}" type="text" id="user-name" placeholder="Your Name" value="Jan Kowalski">
        </div>
        <div class="form-group">
          <label for="user-username">Username</label>
          <input [(ngModel)]="addUsername" [ngModelOptions]="{standalone: true}" type="text" id="user-username" placeholder="Your Username" value="Jan Kowalski">
        </div>
        <div class="form-group">
          <label for="user-password">Nowe hasło</label>
          <input [(ngModel)]="addPassword" [ngModelOptions]="{standalone: true}" type="password" id="user-password" placeholder="Your Password">
        </div>
        <div class="form-group">
          <label for="user-email">e-mail address</label>
          <input [(ngModel)]="addEmail" [ngModelOptions]="{standalone: true}" type="email" id="user-email" placeholder="Your e-mail">
        </div>
        <div class="form-group">
          <label for="user-rank">Rank</label>
          <input [(ngModel)]="addRank" [ngModelOptions]="{standalone: true}" type="text" id="user-rank" placeholder="Your Rank" value="Jan Kowalski">
        </div>
        <div class="form-group">
          <button (click)="addUser()" type="submit" class="btn">Add User</button>
        </div>
      </form>
    </div>
  </div>
</div>