<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="main">
    <h1>Edit Task</h1>
    <label for="task-name">Task Name:</label>
    <input [(ngModel)]="editName" [ngModelOptions]="{standalone: true}" type="text" id="task-name" class="task-input" placeholder="Enter task name">
    <label for="task-desc">Description:</label>
    <textarea [(ngModel)]="editDesc" [ngModelOptions]="{standalone: true}" id="task-desc" class="task-input" placeholder="Enter task description"></textarea>
    <p>{{result}}</p>
    <div class="profile-actions">
      <button (click)="updateTask()" class="btn">Edit Task</button>
    </div>
  </div>
</div>
