<nav class="navbar">
  <div class="navbar-left">
    <a class="logo"><img src="/images/logo.png"></a>

  </div>
  <div class="navbar-center">
    <ul>
      <li><a [routerLink]="['']" class="active-link"><img src="/images/home.png"> <span>Home</span></a></li>
      <li><a [routerLink]="['/team-list']"><img src="/images/network.png"> <span>Teams</span></a></li>
      <li><a [routerLink]="['/project-list']"><img src="/images/jobs.png"> <span>Projects</span></a></li>
      <li><a [routerLink]="['/comment-list']"><img src="/images/message.png"> <span>Comments</span></a></li>
      <li><a [routerLink]="['/login']"><img src="/images/notification.png"> <span>Log in</span></a></li>
    </ul>
  </div>
  <div class="navbar-right">
   <div class="user-structure">
   
    <img src="/images/logo.png" class="nav-profile-img" [routerLink]="['/user-view']">
   
   </div>
  </div>

<!----------- ------ profile menu --onclick="toggleMenu()"--------  id="profileMenu"--->

<div class="profile-menu-wrap">
  <div class="profile-menu">
    <div class="user-info">
      <img src="/images/logo.png">
      <div>
        <h3>Lorem, ipsum dolor.</h3>
        <a href="#">See your profile</a>
      </div>
    </div>
    <hr>
    <a href="#" class="profile-menu-link">
      <img src="">
      <p>Give Feedback</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="">
      <p>Settings & Privacy</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="">
      <p>Help & Support</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="">
      <p>Display & Accessibility</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="">
      <p>Logout</p>
      <span>></span>
    </a>
  </div>
</div>

</nav>

<!-- ---------------------- navbar close --------------------------->

<div class="container">
  <div class="main">
    <div class="profile-container">
      <img src="" width="100%" >
      <div class="profile-container-ineer">
        <img src="" class="profile-pic">
        <h1>Your Personal Project Manager</h1>
        
        <b>You can see and edit your teams and projects</b>
        
        <p>your team:</p>
        <p [routerLink]="[`/team-view/${teamData?.id}`]">{{teamData?.name}}:</p>
        <p *ngFor="let user of teamData?.users">
          - {{user.name}}
        </p>
      
    </div>
    </div>
<!-------------------------- wazne -->
    <div *ngFor="let project of projectsData" class="profile-description">
      <h2>{{project.name}}</h2>
      <div class="deadline">
        <h4>deadline: {{project.deadline | date:'yyyy-MM-dd' }}</h4>
      </div>
      <ul>
        <p>tasks:</p>
        <p *ngFor="let task of project.tasks">
          - {{task.overview}}: {{task.status}}
        </p>
        <br>
        <hr>
        <br>
        <p>teams:</p>
        <p *ngFor="let team of project.teams">
          - {{team.name}}
        </p>
        <br>
        <hr>
      </ul>
      <br>
      
      <a [routerLink]="[`/project-view/${project.id}`]" class="see-more-link">See more...</a>
    </div>
  </div>
  

  <div class="first-sidebar">
    <div class="sidebar-ad">
      <small>Add</small>
      <p>Lorem ipsum dolor sit.</p>
      <div>
        <img src="" alt="">
        <img src="" alt="">
      </div>
      <b>Lorem ipsum dolor sit.</b>
      <a href="#" class="ad-link">Learn more</a>
    </div> 

<div class="sidebar-people">
  <h3>People you may know</h3>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>Lorem, ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>kamil kasiepik</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>adam zachy</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>magda dąbska</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>Franek Bananek</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
</div>

  </div>
</div>
