<app-nav-bar></app-nav-bar>

<!-- ---------------------- navbar close --------------------------->

<div class="container">
  <div class="main">
    <div class="profile-container">
      <img src="" width="100%" >
      <div class="profile-container-ineer">
        <img src="" class="profile-pic">
        <h1>Your Personal Project Manager</h1>

        <b>Soon to end Projects:</b><br>
        <p *ngFor="let project of STEProjectsData" [routerLink]="[`/project-view/${project.id}`]">
          - {{project.name}}
        </p>
        
        <b>your team:</b>
        <p [routerLink]="[`/team-view/${teamData?.id}`]">{{teamData?.name}}:</p>
        <p *ngFor="let user of teamData?.users">
          - {{user.name}}
        </p>
      
    </div>
    </div>
<!-------------------------- wazne -->
    <div *ngFor="let project of projectsData" class="profile-description">
      <h2>{{project.name}}</h2>
      <div class="deadline">
        <h4>deadline: {{project.deadline | date:'yyyy-MM-dd' }}</h4>
      </div>
      <ul>
        <h4>tasks:</h4>
        <div *ngFor="let task of project.tasks">
          <div *ngIf="task.status == 'done'; else elseBlock">
            <p class="checked">
              {{task.overview}}
            </p>
          </div>
          <ng-template #elseBlock>
            <p [routerLink]="[`/task-view/${task.id}`]">
              - {{task.overview}}
            </p>
          </ng-template>
        </div>
        <br>
        <hr>
        <br>
        <h4>teams:</h4>
        <p *ngFor="let team of project.teams">
          - {{team.name}}
        </p>
        <br>
        <hr>
      </ul>
      <br>
      
      <a [routerLink]="[`/project-view/${project.id}`]" class="see-more-link">See more...</a>
    </div>

    <div *ngFor="let project of endedProjectsData" class="profile-description">
      <h2 class="checked">{{project.name}}</h2>
      <div class="deadline">
        <h4>deadline: {{project.deadline | date:'yyyy-MM-dd' }}</h4>
      </div>
      <h3>Project ended</h3>
      <br>
      
      <a [routerLink]="[`/project-view/${project.id}`]" class="see-more-link">See more...</a>
    </div>
  </div>
  

  <div class="first-sidebar">
    <div class="sidebar-ad">
      <small>Add</small>
      <p>Lorem ipsum dolor sit.</p>
      <div>
        <img src="" alt="">
        <img src="" alt="">
      </div>
      <b>Lorem ipsum dolor sit.</b>
      <a href="#" class="ad-link">Learn more</a>
    </div> 

<div class="sidebar-people">
  <h3>People you may know</h3>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>Lorem, ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>kamil kasiepik</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>adam zachy</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>magda dąbska</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
  <div class="sidebar-people-row">
    <img src="/images/logo.png">
    <div>
      <h2>Franek Bananek</h2>
      <p>Lorem ipsum dolor sit amet.</p>
      <a href="#">Connect</a>
    </div>
  </div>
</div>

  </div>
</div>
