<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="todo-app">
    <h2>{{projectData?.name}}<img src="/images/jobs.png"></h2>
    <div class="deadline">
      <h3>Deadline: {{projectData?.deadline | date:'yyyy-MM-dd' }}</h3>
    </div>
    <button [routerLink]="[`/task-add/${projectData?.id}`]" class="btn">Add Tasks</button>
    <ul id="list-cointainer">
      <div *ngFor="let task of tasksData">
        <div *ngIf="task.status == 'done'; else elseBlock">
          <p class="checked">{{task.overview}}</p>
        </div>
        <ng-template #elseBlock>
          {{task.overview}}
        </ng-template>
      </div>
    </ul>
    <div class="import">
      <p>{{projectData?.teams[0].name}}</p>
      <div class="profile-actions">
        <a [routerLink]="[`/project-edit/${projectData?.id}`]" class="btn">Edit</a>
        <a (click)="confirmDel()" class="btn">Delete</a>
      </div>
    </div>
  </div>
</div>