<nav class="navbar">
  <div class="navbar-left">
    <a href="main-page.component.html" class="logo"><img src="/images/logo.png" alt="Logo"></a>
  </div>
  <div class="navbar-center">
    <ul>
      <li><a [routerLink]="['']" class="active-link"><img src="/images/home.png" alt="Home"> <span>Home</span></a></li>
      <li><a [routerLink]="['/project-add']"><img src="/images/network.png" alt="Project Add"> <span>Stwórz projekt</span></a></li>
      <li><a [routerLink]="['/team-add']"><img src="/images/jobs.png" alt="Team Add"> <span>Przydzielanie zespołów</span></a></li>
      <li><a [routerLink]="['/team-edit']"><img src="/images/message.png" alt="Team Edit"> <span>Użytkownicy</span></a></li>
      <li><a [routerLink]="['/login']"><img src="/images/notification.png" alt="Notifications"> <span>Coś tam</span></a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <div class="user-structure">
      <img src="/images/logo.png" class="nav-profile-img" [routerLink]="['user-view']" alt="Profile">
    </div>
  </div>
</nav>


<div class="container">
  <div class="todo-app">
  <h2>{{projectData?.name}}<img src="/images/jobs.png"></h2>
  <h3>Deadline: {{projectData?.deadline | date:'yyyy-MM-dd' }}</h3>
    <button [routerLink]="[`/task-add/${projectData?.id}`]">Add Tasks</button>
  <ul id="list-cointainer">
    <li *ngFor="let task of tasksData">
      <div *ngIf="task.status == `done`; else elseBlock">
        {{task.overview}}
      </div>
      <ng-template #elseBlock>
        <p class="checked">{{task.overview}}</p>
      </ng-template>
    </li>
  </ul>
  team, guziki edit i delete (po prawej)
</div>
<a [routerLink]="['']">main page</a>
</div>