<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="main">
    <h1>Add New Task</h1>
    <label for="task-name">Task Name:</label>
    <input [(ngModel)]="addName" [ngModelOptions]="{standalone: true}" type="text" id="task-name" class="task-input" placeholder="Enter task name">
    <label for="task-desc">Description:</label>
    <textarea [(ngModel)]="addDesc" [ngModelOptions]="{standalone: true}" id="task-desc" class="task-input" placeholder="Enter task description"></textarea>
    <label for="assign-user">Assign User:</label>
    <select [(ngModel)]="assignUser" [ngModelOptions]="{standalone: true}" id="assign-user" class="task-input">
        <option *ngFor="let user of usersData" value="{{user.id}}">
          {{user.name}}
        </option>
    </select>
    <p>{{result}}</p>
    <div class="profile-actions">
      <button (click)="addTask()" class="btn">Add Task</button>
    </div>
  </div>
</div>
