<nav class="navbar">
  <div class="navbar-left">
    <a href="main-page.component.html" class="logo"><img src="/images/logo.png" alt="Logo"></a>
  </div>
  <div class="navbar-center">
    <ul>
      <li><a [routerLink]="['']" class="active-link"><img src="/images/home.png"> <span>Home</span></a></li>
      <li><a [routerLink]="['/team-list']"><img src="/images/network.png"> <span>Teams</span></a></li>
      <li><a (click)="verifyPP()"><img src="/images/jobs.png"> <span>Create a Project</span></a></li>
      <li><a [routerLink]="['/comment-list']"><img src="/images/message.png"> <span>Your comments</span></a></li>
      <li><a [routerLink]="['/login']"><img src="/images/notification.png"> <span>Log in</span></a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <div class="user-structure">
      <img src="/images/logo.png" class="nav-profile-img" [routerLink]="['user-view']" alt="Profile">
    </div>
  </div>
</nav>

<div class="container">
  <div class="main">
    <div class="profile-container">
      <h1>User profile</h1>
      
      <div class="profile-info">
        <div class="profile-avatar">
          <img src="/images/logo.png" alt="Profile Picture" class="profile-img">
        </div>
        <div class="profile-details">
          <ul>
            <li><h2>{{userData?.name}}</h2></li>
            <li>{{userData?.username}}</li>
            <li>{{userData?.email}}</li>
            <li>{{userData?.rank}}</li>
          </ul>
        </div>
      </div>

      <div class="team-details">
        <ul>
            <li><h3>{{teamData?.name}}</h3></li>
            <li *ngFor="let user of teamData?.users">{{user.name}}</li>
        </ul>
      </div>
      
      <div class="profile-actions">
        <a [routerLink]="['/user-edit']" class="btn">Edit Profile</a>
        <a (click)="confirmDel()" class="btn">Delete Profile</a>
      </div>
    </div>
  </div>
</div>
