<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="main">
    <div class="team-info-container">
      <h1>Team Details</h1>
      <div class="team-details">
        <label>Team name:</label>
        <p id="team-name">{{teamData?.name}}</p>
      </div>
      <div class="team-details">
        <label>Users:</label>
        <ul id="team-members">
          <li *ngFor="let user of usersData">
            {{user.name}}
          </li>
        </ul>
      </div>
      <div class="team-details">
        <label>Projects:</label>
        <ul id="team-members">
          <li *ngFor="let project of projectsData">
            {{project.name}}
          </li>
        </ul>
      </div>
      <div class="profile-actions">
        <a [routerLink]="[`/team-edit/${teamData?.id}`]" class="btn">Edit</a>
        <a (click)="confirmDel()" class="btn">Delete</a>
      </div>
    </div>
  </div>
</div>